* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container_grid {
  width: 700px;
  height: 700px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.square {
  width: calc(700px / 8);
  height: calc(700px / 8);
  border: 1px solid black;
}
